* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.title {
    margin: 2rem;
}
.article {
    text-align: center;
    width: 100%;
    padding: 20rem;
}

.login {
    margin: 2rem;
}

h2 {
    padding: 1rem;
}

