* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #427AA1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.landing_title {
    color: white;
    font-size: 6rem;
    font-weight: 600;
}

.landing_sub_title {
    margin-top: 3rem;
    font-size: 2rem;
}

.sign_up {
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 31rem;
    width: 25rem;
    border-radius: 10px;
    padding: 3rem;
    }

.mail, .mdp, .mdp_comfirm, .create_account {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #F4F4F4;
    height: 40px;
    color: #C1C1C1;
    text-align: center  ;
}

.create_account {
    background-color: #427AA1;
    color: white;
    cursor: pointer;
}

.sign_in button {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.sign_in button:hover {
    color:#C1C1C1;
}
.sign_in.hidden {
    display: none;
}
input {
    all: unset;
}

button {
    all: unset;
}