.body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: URWForm-ExtraBold;
}

.body a {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 100px;
  top: 60px;
  border-radius: 50px;
  height: 40px;
  padding: 3px 30px 0 30px;

  cursor: pointer;
  border: none;
  color: white;
  background-color: var(--bg-color);
  text-decoration: none;
  font-size: 1.1rem;
}

#error404 h1 {
  text-align: center;
  margin: 0;

  font-size: 11rem;
  color: var(--bg-color);
}

#error404 p {
  font-size: 3rem;
  margin: 0;
}
