@font-face {
  font-family: URWForm-ExtraLight;
  src: url(../assets/fonts/URWForm-ExtraLight.otf);
}

@font-face {
  font-family: URWForm-Light;
  src: url(../assets/fonts/URWForm-Light.otf);
}

@font-face {
  font-family: URWForm-Regular;
  src: url(../assets/fonts/URWForm-Regular.otf);
}

@font-face {
  font-family: URWForm-Medium;
  src: url(../assets/fonts/URWForm-Medium.otf);
}

@font-face {
  font-family: URWForm-Bold;
  src: url(../assets/fonts/URWForm-Bold.otf);
}

@font-face {
  font-family: URWForm-ExtraBold;
  src: url(../assets/fonts/URWForm-ExtraBold.otf);
}

@font-face {
  font-family: URWForm-Heavy;
  src: url(../assets/fonts/URWForm-Heavy.otf);
}

body {
  margin: 0;
}

:root {
  --bg-color: #54a0d6;
}
