* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 120px 0 120px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background: var(--bg-color);
}

.landing-title {
  margin-left: 0;
  margin-top: -60px;

  color: white;
  font-size: 4.4rem;
  font-family: URWForm-ExtraBold;
}

.landing-sub-title {
  margin-left: 0;
  margin-top: 30px;
  font-size: 1.9rem;
  line-height: 35px;
  width: 560px;

  font-family: URWForm-ExtraBold;
}

.sign-up,
.sign-in.show {
  display: flex;
  flex-direction: column;
  width: 410px;
  border-radius: 8px;
  padding: 0 50px 0 50px;

  background: white;
  color: black;
}

.sign-up.hidden,
.sign-in {
  display: none;
}

.mail,
.mdp,
.mdp-comfirm {
  border-radius: 50px;
  height: 40px;
  display: flex;
  justify-content: left;
  padding: 5px 20px 0 20px;

  background-color: #f4f4f4;
  color: black;
  font-size: 0.9rem;
  font-family: URWForm-Medium;
}

.mail {
  margin-top: 50px;
  margin-bottom: 30px;
}

.mdp-comfirm {
  margin-top: 30px;
}

.create-account,
.log-account {
  height: 45px;
  border-radius: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: center;

  background-color: var(--bg-color);
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: URWForm-ExtraBold;
}

.sign-button {
  margin-bottom: 50px;

  text-decoration: none;
  text-align: center;
  align-items: center;
  font-size: 0.9em;
  font-family: URWForm-Medium;
}

.underline {
  border-bottom: solid 2px;
  border-radius: 1px;

  cursor: pointer;
  border-color: var(--bg-color);
}

.log-account {
  background-color: var(--bg-color);
  color: white;
  cursor: pointer;
}

input {
  all: unset;
  width: 100%;
}

.create-account input,
.log-account input {
  width: auto;
}

@media screen and (max-width: 1200px) {
  :root {
    --bg-color: #161b33;
  }
  body {
    padding: 0 90px 0 90px;
  }
}
