*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
}

.container-profil {
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
}

.img-back {
    margin: 0 auto;
    max-width: 1440px;
    width: 90%;
    height: 300px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-left {
    width: 30%;
}

.img-pp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid #FFF;
    transform: translateY(-40%);
}

.pp {
    border-radius: 50%;
}

.info {
    transform: translate(0%,-40%);
}

span {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
}

p {
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.container-top {
    margin: 30px auto;
    max-width: 1440px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.res {
    cursor: pointer;
}

.container-search {

    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--lightGray);
    width: 450px;
}

/* Button for research */

button {
    background-color: transparent;
    border: none;
    margin-right: 15px;
}

.search {
    width: 20px;
    color: #333;
}

/* search bar */

input {
    width: 410px;
    height: 40px;
    font-size: 18px;
    border: none;
    background-color: transparent;
}

input::placeholder{
    font-size: 18px;
    transform: translateY(2%);
  
    color: #888;
}

input:focus{
    outline: none;
}

input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#file {
    margin-top: 10px;
}